.box {
    width: 400px;
    height: 100px;
}

.lightbar {
    box-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
}

@keyframes animatelightbar {

    0%,
    5% {
        transform: scaleY(0) translateX(0);
    }

    10% {
        transform: scaleY(1) translateX(0);
    }

    90%,
    100% {
        transform: scaleY(1) translateX(calc(400px - 8px));
    }

}

.topLayer {
    animation: animateTopLayer 10s linear infinite;
}

@keyframes animateTopLayer {

    0%,
    2.5% {
        transform: translateX(0);
    }

    5% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(100%);
    }

    47.5%,
    50% {
        transform: translateX(100%);
    }

    50.001%,
    52.5% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-100%);
    }

    95% {
        transform: translateX(0%);
    }

    97.5%,
    100% {
        transform: translateX(0%);
    }
}

.rotation {
    transform-origin: right;
    transform: perspective(300px) rotateY(-5deg);

}

.texts {
    transform-origin: right;
    transition: transform 0.5s;
}

.texts:hover {
    transform: scale(1.5) perspective(300px) rotateY(1deg);
}